<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Hike KC</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  
</head>
<body>
  <nav class="navbar fixed-top">
    <a href="/" class="navbar-brand">Hike KC</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" id="search-value" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Search</button>
    </form>
  </nav>

  <div class="container-fluid">
    <div class="row main-row">
      <div class="col-md-2"></div>

      <section class="col-md-8 main-section">
        <div class="search-list main-list-sect">
          <h1>Search Results</h1>
          <div class="search-results-wrapper">
            <div class="park-results-head">
              <!-- <h3>Park Results</h3> -->
            </div>
            <div class="park-results-list">
              <!-- search.js inserts results here -->
            </div>
            <div class="trail-results-head">
              <!-- <h3>Trail Results</h3> -->
            </div> 
            <div class="trail-results-list">
              <!-- search.js inserts results here -->
            </div> 
          </div>
        </div>
      </section>
      <div class="col-md-2"></div>
    </div>
  </div>

</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=googleApiKey&callback=initMap">
    </script> -->
    <script src="/assets/js/search.js"></script>
    <script src="/assets/js/common.js"></script>

</html> 