<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Hike KC</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  
</head>
<body class="body-100">
  <nav class="navbar fixed-top">
    <a href="/" class="navbar-brand">Hike KC</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 headers">
        <div class="park-header">
          <!-- javascript insert park name here -->
        </div>
        <div class="trail-header">
          <!-- javascript insert Trail name here -->
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row main-row">
      <div class="col-md-1"></div>
      <section class="col-md-10 main-section trail-main-section main-list-sect">
        <div class="single-trail-text">
          
        </div>
        <div id="map"></div>
      </section>
      <div class="col-md-1"></div>
    </div>
  </div>

</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/trailMap.js"></script>
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=googleApiKey&callback=initMap">
    </script> -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs36HDIO9xXLV8V3TgCnfVlUFg09DNXR8&callback=initTrailMap">
    </script>
    <script src="/assets/js/trail.js"></script>

</html> 