* {
  box-sizing: border-box;
}

/* html, .body-100 {
  height: 100%;
} */

.navbar {
  height: 70px;
  border-bottom: 2px solid black;
  /* background-color: #996633; */
  /* background-color: #d2ab67; */
  /* background-color: #ac7339; */
  background-color: #fff;
}

/* .navbar a, a.navbar-brand {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
} */
.fixed-top {
  padding-top: 0px;
}

.navbar-brand img {
  width: 15%;
  height: 15%;
}

/* a.navbar-brand:visited, a.navbar-brand:active {
  color: #fff !important;
} */

.form-control {
  border-color: #225e2b;
}

.btn-outline-success {
  /* color: #25310C;
  border-color: #25310C; */
  color: #fff;
  border-color: #fff;
  background-color: #225e2b;
}

.container-fluid {
  height: 100%;
  background-image: url("./images/background.jpg");
  /* background-repeat: repeat;
  background-size: auto; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 30px;
  /* color: #fff; */
}

.carousel {
  /* height: auto; */
  /* height: 75%; */
  width: 100%;
  overflow: hidden;
  /* padding-top: 100px; */
  background-color: green;  /*just for testing*/
}

/* .carousel-item img {
  display: block;
  max-width: 800px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin: auto;
} */

.carousel-item img {
  width: auto !important;
  height: auto;
  max-height: 75vh;
  max-width: 100%;
  margin: auto;
}


.main-row {
  height: 100%
}

.map-wrapper {
  height: 500px;
}

.main-list-sect {
  /* color: #fff; */
  border: 2px solid #000;
  background-color: #fff;
  /* max-height: 400px;
  overflow: auto; */
  padding-bottom: 15px;
}

.main-list-sect h1 {
  /* border-bottom: solid 2px; */
  text-align: center;
  color: #fff;
  background-color: #ac7339;
}

.park-list {
  margin: 20px 0px;
}

.park-list-text {
  padding: 0px 0px 10px 15px;
  border-bottom: solid 1px;
  margin-bottom: 10px;
}

.park-click:hover {
  cursor: pointer;
}

.main-section {
  /* border: 2px solid #fff; */
  padding: 0px;
}

.bold-font {
  font-weight: bold;
}

#map {
  height: 100%;
}

/* trails page styling */

.park-main {
  height: 500px;
}

.trail-aside {
  border: 2px solid #000;
  background-color: #fff;
  overflow: auto;
  height: 100%;
  padding: 0px;
}

.trail-aside h1 {
  margin: 0px;
  padding: 0px;
}

.trail-aside-wrapper {
  padding: 15px;
  border-bottom: solid #000 1px;
}

.park-header, .trail-header {
  padding: 0px;
  border: solid #000 2px;
}

.park-details {
  background-color: #fff;
  margin-bottom: 20px;
  border: solid 2px #000;
}

.park-name-header {
  text-align: center;
  /* background-color: #fff; */
  color: #fff;
  background-color: #ac7339;
  margin-bottom: 0px;
}

.trail-click:hover {
  cursor: pointer;
}

/* single trail page styling */

.headers {
  padding: 0px;
  margin-bottom: 20px;
}

.headers .park-header {
  cursor: pointer;
}

.trail-name-header {
  text-align: center;
  background-color: #fff;
  margin-bottom: 0px;
}

.single-trail-text {
  float: left;
  width: 70%;
  background-color: #fff;
  /* border-bottom: solid #000 1px; */
  padding: 15px;
}

.trail-main-section #map {
  float: right;
  width: 30%;
  height: 300px;
}

.diff-img {
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
}

/* search page styling */

/* .park-results-head, .trail-results-head {
  border-bottom: solid #000 2px;
} */

.search-results-wrapper {
  padding: 15px;
}

.park-results-list, .trail-results-list {
  padding: 10px;
  cursor: pointer;
}

.park-search-text, .trail-search-text {
  border-bottom: solid #D3D3D3 1px;
}

.vertical {
 left: 30%;
 width: auto;
}

.horizontal {
  left: 20%;
  width: auto;
}

/* .modal-open .modal{
  overflow-y: hidden;
} */

.modal-dialog {
  max-width: 100%;
  max-height: 100%;
  margin: .5rem;
}

.modal-content {
  /* max-height: 100%; */
  height: 95vh;
  /* background: rgba(128, 128, 128, 0.5); */
}

/* .modal-header {
  max-height: 10%;
} */

.modal-body {
  max-height: 90%;
}

.info-window-image {
  max-width: 55px !important;
}

.modal-image {
  max-width: 100%;
}

.image-click canvas {
  max-width: 55px;
  max-height: 55px;
}

#container {
  width: 100%;
  /* text-align: center; */
}

#container canvas {
  /* max-width: 500px;
  max-height: 500px; */
  /* max-height: 500px; */
  /* max-height: 100%; */
  max-height: 85vh;
  max-width: 100%;
  /* display: inline-block; */
}

.chart {
  margin-top: 20px;
}

#chart_div {
  border: 2px solid #000;
}

#curve_chart {
  width: 100%;
  height: 500px;
}

.chart-tooltip {
  min-width: 75px;
  padding-left: 2px;
}

#loading {
  text-align: center;
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  /* background-color: rgba(128, 128, 128, 0.7); */
  background-color: rgba(0,0,0, 0.5);
}
.gif-wrapper {
  display: inline-block;
}

.loading-text {
  color: #fff;
  font-weight: bold;
}